{% extends 'base.html' %}

{% block title %}Crear rutina{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/rutinas/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/rutinas/forms.css' ) }}">
{% endblock %}

{% block content %}
<div class="card">
    <nav>
        <a href="{{ url_for('Rutinas.index') }}">Regresar</a>
    </nav>
    <h1>Crear rutina</h1>
    <p>Su calle es: {{ session["calle"] }}</p>
    <form method="POST">
        <div class="dias">
            <label class="custom-checkbox">
                <input type="checkbox" name="dias" value="Lunes">
                <span>Lunes</span>
            </label>
            <label class="custom-checkbox">
                <input type="checkbox" name="dias" value="Martes">
                <span>Martes</span>
            </label>
            <label class="custom-checkbox">
                <input type="checkbox" name="dias" value="Miercoles">
                <span>Miércoles</span>
            </label>
            <label class="custom-checkbox">
                <input type="checkbox" name="dias" value="Jueves">
                <span>Jueves</span>
            </label>
            <label class="custom-checkbox">
                <input type="checkbox" name="dias" value="Viernes">
                <span>Viernes</span>
            </label>
            <label class="custom-checkbox">
                <input type="checkbox" name="dias" value="Sabado">
                <span>Sábado</span>
            </label>
        </div>
        <div class="cantidades">
            <label for="hora">Hora:</label>
            <input type="time" id="hora" name="hora" step="1800" min="09:00" max="17:00" required>
            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" required>
        </div>
        <div class="marcas">
            <label class="custom-checkbox">
                <input type="checkbox" name="marcas" value="Bonafond">
                <span>Bonafond</span>
            </label>
            <label class="custom-checkbox">
                <input type="checkbox" name="marcas" value="Ciel">
                <span>Ciel</span>
            </label>
            <label class="custom-checkbox">
                <input type="checkbox" name="marcas" value="Epura">
                <span>Epura</span>
            </label>
            <label class="custom-checkbox">
                <input type="checkbox" name="marcas" value="Electropura">
                <span>Electropura</span>
            </label>
        </div>
        <button type="submit">Crear rutina</button>
    </form>
</div>
{% endblock %}