{% extends 'base.html' %}

{% block title %}Principal{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/rutinas/index.css') }}"> 
{% endblock %}

{% block content %}
<div class="card">
    <nav>
        <a href="{{ url_for('usuarios.cuenta', id=session.usuario_id) }}" id="username">{{ session.nombre }}</a>
        <a href="{{ url_for('Rutinas.ver_visita') }}">Ver visita</a>
        <a href="{{ url_for('Rutinas.crear_rutina') }}">Crear rutina</a>
    </nav>
    <hr>
    {% if rutinas|length == 0 %}
        <h2>No tienes registrada ninguna rutina</h2>
    {% else %}
        <table border="1">
            <thead>
                <tr>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sábado</th>
                    <th>Domingo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for rutina in rutinas if rutina.usuario_id == session.usuario_id %}
                <tr>
                    <td>{% if 'Lunes' in rutina.dias %}{{ rutina.hora.strftime('%H:%M') }}{% endif %}</td>
                    <td>{% if 'Martes' in rutina.dias %}{{ rutina.hora.strftime('%H:%M') }}{% endif %}</td>
                    <td>{% if 'Miercoles' in rutina.dias %}{{ rutina.hora.strftime('%H:%M') }}{% endif %}</td>
                    <td>{% if 'Jueves' in rutina.dias %}{{ rutina.hora.strftime('%H:%M') }}{% endif %}</td>
                    <td>{% if 'Viernes' in rutina.dias %}{{ rutina.hora.strftime('%H:%M') }}{% endif %}</td>
                    <td>{% if 'Sabado' in rutina.dias %}{{ rutina.hora.strftime('%H:%M') }}{% endif %}</td>
                    <td>{% if 'Domingo' in rutina.dias %}{{ rutina.hora.strftime('%H:%M') }}{% endif %}</td>
                    <td>
                        <a href="{{ url_for('Rutinas.modificar_rutina', rutina_id=rutina.id) }}">Modificar</a>
                        <a href="{{ url_for('Rutinas.eliminar_rutina', rutina_id=rutina.id) }}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}