{% extends 'base.html' %}

{% block title %}Mi Cuenta{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/usuarios/perfil.css') }}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <a href="{{ url_for('Rutinas.index' ) }}">Regresar</a>
    <a href="{{ url_for('usuarios.crear_calificacion' ) }}">Calificar</a>
    <h1>Información de tu cuenta</h1>
    <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
    <p><strong>Teléfono:</strong> {{ usuario.telefono }}</p>
    <p><strong>Calle:</strong> {{ usuario.calle }}</p>
    <p><strong>Número interior:</strong> {{ usuario.numero_interior }}</p>
    <p><strong>Número exterior:</strong> {{ usuario.numero_exterior }}</p>
    <p><strong>Colonia:</strong> {{ usuario.colonia }}</p>
    <br>
    <a href="{{ url_for('usuarios.cerrar_sesion') }}">Cerrar sesión</a>
    <a href="{{ url_for('usuarios.modificar_cuenta', id=usuario.id) }}">Modificar cuenta</a>
    <a href="{{ url_for('usuarios.eliminar_cuenta', id=usuario.id) }}">Eliminar cuenta</a>
    
</div>
{% endblock %}