{% extends 'base.html' %}

{% block title %}Eliminar cuenta{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/autentication.css') }}"> {% endblock %}

{% block content %}
<div class="card">
    <a href="{{ url_for('Rutinas.index') }}">Regresar</a>
    <h1>Eliminar cuenta</h1>
    <form method="POST">
        <input type="number" id="telefono" name="telefono" required placeholder="Telefono">
        <input type="password" id="contrasena" name="contrasena" required placeholder="Contraseña">
        <button type="submit">Eliminar cuenta</button>
    </form>
</div>
{% endblock %}