{% extends 'base.html' %}

{% block title %}Iniciar sesion{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/autentication.css') }}"> {% endblock %}

{% block content %}
<div class="card">
    <h1>Inicio de sesion</h1>
    <form method="POST">
        <input type="number" id="telefono" name="telefono" required placeholder="Telefono">
        <input type="password" id="contrasena" name="contrasena" required placeholder="Contraseña">
        <button type="submit">Iniciar sesion</button>
    </form>
    <p>¿No tienes cuenta? <a href="{{ url_for('usuarios.registrar') }}">Registrate</a></p>
    <a href="{{ url_for('Purificadora.inicio_sesion_purificadora' ) }}">efw</a>
</div>
{% endblock %}