{% extends 'base.html' %}

{% block title %}Modificar Usuario{% endblock %}

<!-- {% block style %} <link rel="stylesheet" href="style.css"> {% endblock %} -->

{% block content %}
    <h1>Modificar Usuario</h1>
    <form method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <label for="telefono">Telefono:</label>
        <input type="number" id="telefono" name="telefono" required>
        <label for="contrasena">Contrasena:</label>
        <input type="password" id="contrasena" name="contrasena" required>
        <label for="calle">Calle:</label>
        <input type="text" id="calle" name="calle" required>
        <label for="numero_interior">Numero interior:</label>
        <input type="number" id="numero_interior" name="numero_interior" required>
        <label for="numero_exterior">Numero exterior:</label>
        <input type="number" id="numero_exterior" name="numero_exterior" required>
        <label for="colonia">Colonia:</label>
        <input type="text" id="colonia" name="colonia" required>
        <button type="submit">Modificar</button>
    </form>
    <p>¿Ya tienes una cuenta? <a href="{{ url_for('usuarios.inicio_sesion' ) }}">Inicia sesión</a></p>
{% endblock %}