{% extends 'base.html' %}

{% block title %}Modificar Usuario{% endblock %}

{% block style %} <link rel="stylesheet" href="{{ url_for('static', filename='css/autentication.css') }}"> {% endblock %}

{% block content %}
<div class="card">
    <a href="{{ url_for('Rutinas.index') }}">Regresar</a>
    <h1>Modificar Usuario</h1>
    <form method="POST">
        <input type="text" id="nombre" name="nombre" required placeholder="Nombre completo" value="{{ session.nombre }}">
        <input type="number" id="telefono" name="telefono" required placeholder="Telefono" value="{{ session.telefono }}">
        <input type="password" id="contrasena" name="contrasena" required placeholder="Contraseña"">
        <input type="text" id="calle" name="calle" required placeholder="Calle" value="{{ session.calle }}">
        <input type="number" id="numero_interior" name="numero_interior" required placeholder="Numero interior" value="{{ session.numero_interior }}">
        <input type="number" id="numero_exterior" name="numero_exterior" required placeholder="Numero exterior" value="{{ session.numero_exterior }}">
        <input type="text" id="colonia" name="colonia" required  placeholder="Colonia" value="{{ session.colonia }}">
        <button type="submit">Modificar</button>
    </form>
</div>
{% endblock %}